Django==5.2.6
djangorestframework==3.16.1
djangorestframework-simplejwt==5.5.1
django-cors-headers==4.9.0
Pillow==11.3.0
psycopg2-binary==2.9.10
gunicorn==23.0.0
python-decouple==3.8
dj-database-url==1.1.0
sqlparse==0.5.3
#django-extensions==4.12.0
whitenoise==6.5.0